body {
  overflow-y: hidden;
  /* position: relative; */
  background-color: #ffffff;
}

.comments {
  height: 100%;
}

.wrap {
  height: 1px;
}

.comments__header {
  position: absolute;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  box-shadow: 0px 24px 48px rgba(0, 18, 102, 0.08);
  z-index: 999;
}

.header-back {
  cursor: pointer;
  width: 36px;
}

.member-logo {
  height: 36px;
}

.member-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.member-title {
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  font-feature-settings: "salt" on;
  color: #141a33;
}

.member-about {
  display: flex;
  gap: 6px;
  align-items: center;
}

.member-reviews {
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-feature-settings: "salt" on;
  color: #a9abb8;
}

.member-delimetr {
  width: 2px;
  height: 2px;
  background: #dddde3;
  border-radius: 100%;
}

.member-representatives {
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-feature-settings: "salt" on;
  color: #37c99e;
}

@keyframes show {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes hide {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(1000px);
  }
}

.comments__feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 24px 16px 34px 16px;
  position: absolute;
  bottom: 0px;
  background: #ffffff;
  border-radius: 20px 20px 0px 0px;
  z-index: 3;
  box-shadow: 0px -24px 48px rgba(0, 18, 102, 0.06);
  transform: translateY(1000px);
}

.active {
  animation: show 1s;
  animation-fill-mode: forwards;
}

.inactive {
  animation: hide 1s;
  animation-fill-mode: forwards;
}

.feedback-title {
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.92px;
  font-feature-settings: "salt" on;
  color: #141a33;
  margin-bottom: 20px;
}

.feedback-textarea {
  width: 100%;
}

.feedback-textarea-input {
  resize: none;
  box-sizing: border-box;
  width: 100%;
  height: 132px;
  border: 1px solid #37c99e;
  border-radius: 12px;
  margin-bottom: 20px;
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.12px;
  color: #141a33;
  overflow-y: hidden;
  padding: 16px;
}

.feedback-submit {
  width: 100%;
}

.feedback-submit-btn {
  cursor: pointer;
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: "salt" on;
  color: #ffffff;
  width: 100%;
  height: 60px;
  background: #37c99e;
  border-radius: 14px;
  border: 0;
  margin-bottom: 6px;
}

.feedback-submit-btn:active {
  background: #3bdbab;
}

.feedback-cancel {
  width: 100%;
}

.feedback-cancel-btn {
  cursor: pointer;
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: "salt" on;
  color: #141a33;
  width: 100%;
  height: 60px;
  background: #f2f2f2;
  border-radius: 14px;
  border: 0;
}

.comments__footer {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0px;
  box-shadow: 0px -24px 48px rgba(0, 18, 102, 0.06);
}

.comments__footer-btn {
  cursor: pointer;
  padding: 0;
  width: 100%;
  height: 60px;
  background: #37c99e;
  border-radius: 14px;
  border: 0;
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: "salt" on;
  color: #ffffff;
}

.comments__footer-btn:active {
  background: #3bdbab;
}

.feedback-rating {
  margin-bottom: 20px;
}

.comments__main {
  margin-top: 55px;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  height: calc(100vh - 162px);
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 23px 16px 0 16px;
}

.comments__main::-webkit-scrollbar {
  width: 5px;
  background-color: #f9f9fd00;
}

.comments__main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dddde3;
}

.comments__main::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

.comments__item {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid #dddde3;
}
.comments__item:last-child {
  border-bottom: 0px solid #dddde3;
}

.comments__item-avatar {
  width: 44px;
  margin-right: 12px;
}

.comments__item-avatar-img {
  width: 44px;
  border-radius: 100%;
}

.comments__item-other {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.comments__item-name {
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  font-feature-settings: "salt" on;
  color: #141a33;
  margin-bottom: 3px;
}

.comments__item-dateAndRate {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  margin-left: -3px;
  margin-bottom: 13px;
}

.comments__item-date {
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-feature-settings: "salt" on;
  color: #7a7e8f;
}

.comments__item-text {
  max-width: calc(100vw - 100px);
  margin-bottom: 4px;
  white-space: normal;
  word-wrap: break-word;
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-feature-settings: "salt" on;
  color: #141a33;
  /* -webkit-line-clamp: 4; */
  /* display: -webkit-box; */
  /* -webkit-box-orient: vertical; */
  /* overflow: hidden; */
}

.open {
  max-height: none;
  display: block;
}

.comments__item-text-more {
  cursor: pointer;
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-feature-settings: "salt" on;
  color: #37c99e;
}

.comments__firstReview {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.comments__firstReview-img {
  margin-top: 64px;
  margin-bottom: 12px;
  width: 64px;
}

.comments__firstReview-title {
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.92px;
  font-feature-settings: "salt" on;
  color: #141a33;
  margin-bottom: 12px;
}

.comments__firstReview-text {
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-feature-settings: "salt" on;
  color: #141a33;
  margin-bottom: 32px;
}

.comments__firstReview-btn {
  cursor: pointer;
  width: 169px;
  height: 52px;
  background: #37c99e;
  border-radius: 14px;
  border: 0;
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: "salt" on;
  color: #ffffff;
}

.member-logo-img {
  width: 36px;
  border-radius: 100%;
}
