.comments {
  overflow-y: hidden;
  position: relative;
  height: 100%;
}

.comments__header {
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  box-shadow: 0px 24px 48px rgba(0, 18, 102, 0.08);
}

.header-back {
  cursor: pointer;
  width: 36px;
}

.member-logo {
  height: 36px;
}

.member-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.member-title {
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  font-feature-settings: "salt" on;
  color: #141a33;
}

.member-about {
  display: flex;
  gap: 6px;
  align-items: center;
}

.member-reviews {
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-feature-settings: "salt" on;
  color: #a9abb8;
}

.member-delimetr {
  width: 2px;
  height: 2px;
  background: #dddde3;
  border-radius: 100%;
}

.member-representatives {
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-feature-settings: "salt" on;
  color: #37c99e;
}

@keyframes show {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes hide {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(1000px);
  }
}

.comments__feedback {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 24px 16px 34px 16px;
  position: absolute;
  bottom: 0px;
  background: #ffffff;
  border-radius: 20px 20px 0px 0px;
  z-index: 3;
  box-shadow: 0px -24px 48px rgba(0, 18, 102, 0.06);
  transform: translateY(1000px);
}

.active {
  animation: show 1s;
  animation-fill-mode: forwards;
}

.inactive {
  animation: hide 1s;
  animation-fill-mode: forwards;
}

.feedback-title {
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.92px;
  font-feature-settings: "salt" on;
  color: #141a33;
  margin-bottom: 20px;
}

.feedback-textarea-input {
  resize: none;
  box-sizing: border-box;
  width: 100%;
  height: 132px;
  border: 1px solid #37c99e;
  border-radius: 12px;
  margin-bottom: 20px;
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.12px;
  color: #141a33;
  overflow-y: hidden;
  padding: 16px;
}

.feedback-submit-btn {
  cursor: pointer;
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: "salt" on;
  color: #ffffff;
  width: 100%;
  height: 60px;
  background: #37c99e;
  border-radius: 14px;
  border: 0;
  margin-bottom: 6px;
}

.feedback-submit-btn:active {
  background: #3bdbab;
}

.feedback-cancel-btn {
  cursor: pointer;
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: "salt" on;
  color: #141a33;
  width: 100%;
  height: 60px;
  background: #f2f2f2;
  border-radius: 14px;
  border: 0;
}

.comments__footer {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0px;
  box-shadow: 0px -24px 48px rgba(0, 18, 102, 0.06);
}

.comments__footer-btn {
  cursor: pointer;
  padding: 0;
  width: 100%;
  height: 60px;
  background: #37c99e;
  border-radius: 14px;
  border: 0;
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: "salt" on;
  color: #ffffff;
}

.comments__footer-btn:active {
  background: #3bdbab;
}
