.offers {
  background-color: #ffffff;
}

.offers__header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 16px;
}

.offers__main {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.offers__main .title {
  padding: 8px 16px 18px 0;
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */

  letter-spacing: -0.92px;
  font-feature-settings: "salt" on;

  /* Gray / Gray 1 */

  color: #141a33;
}

.blocks {
  background-color: #ffffff;
  margin: 0;
  margin-bottom: 6px;
  border: 1px solid #f6f6f8;
  box-shadow: 0px 16px 24px rgba(0, 18, 102, 0.08);
  border-radius: 12px;
  order: 0;
}

.card {
  display: flex;
}

.card__logo {
  padding: 12px;
}

.card__block {
  width: 100%;
  padding: 12px 12px 12px 0;
}

.card__logo-img {
  width: 36px;
  border-radius: 100%;
}

.card__title {
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  font-feature-settings: "salt" on;
  color: #141a33;
}

.card__interpreter {
  display: flex;
  margin-top: 2px;
  margin-bottom: 12px;
}

.card__interpreter-img {
  width: 16px;
  margin-right: 2px;
}

.card__interpreter span {
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-feature-settings: "salt" on;
  color: #37c99e;
}

.card__wrap {
  width: inherit;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.card__sum-title {
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-feature-settings: "salt" on;
  color: #7a7e8f;
}

.card__sum-total {
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-feature-settings: "salt" on;
  color: #141a33;
}

.card__chance {
  border-left: 1px solid #eef0f3;
  padding-left: 16px;
  margin-right: 20px;
}

.card__chance-title {
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-feature-settings: "salt" on;
  color: #7a7e8f;
}

.card__chance-total {
  display: flex;
  gap: 6px;
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-feature-settings: "salt" on;
  color: #141a33;
}

.card__btns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.card__btns-getMoney {
  padding: 0;
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-feature-settings: "salt" on;
  color: #ffffff;
  width: 100%;
  max-width: 144px;
  height: 40px;
  background: #37c99e;
  border-radius: 10px;
  border: 0;
  margin-right: 6px;
}

.card__btns-reviews {
  padding: 0;
  width: 100%;
  max-width: 120px;
  height: 40px;
  background: #f2f2f2;
  border-radius: 10px;
  border: 0;
}

.delimeter {
  width: 100%;
  margin: 18px 0 8px 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

.delimeter-row {
  width: 100%;
  border-bottom: 1px solid #eef0f3;
}

.delimeter__title {
  margin-bottom: 8px;
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-feature-settings: "salt" on;
  color: #141a33;
}

.delimeter__text {
  margin-bottom: 24px;
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-feature-settings: "salt" on;
  color: #7a7e8f;
}
